@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@400;700;900 & display=swap');
@import url('https://fonts.google.com/share?selection.family=Kalam:wght@300%7CRoboto:wght@400;700;900');
:root {
    --cor-botao-foco: rgba(41, 32, 32, 0.19);
}
* { /*zerou tudo para estilizar*/
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{ /*corpo*/
    background-color:white;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.header{ /*cabeçalho*/
    background-color: #d1b5a9;
    display: flex;
    flex-direction:initial;
    justify-content:space-around;
    align-items: center;
    padding-left: 60px;
    padding-right: 30px;
    gap: 30px
}

.logo{ /*logo da marca do site*/
    height: 100px;
}
.barra_pesquisa{ /*barra de pesquisa*/
    background-color:white;
    color:black;
    width:600px;
    height: 40px;
    font-size: 20px;
    text-decoration:solid;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

/*para alterar links do menu*/
#menu ul{
    margin: 0;
    background-color: #d1b5a9;
    list-style: none;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    padding: 5px 18px;
    display: inline-block; 
    color: white;
}

.titulo_cadastro{ /*Titulo do cadastro*/
    color: black;
    font-size: 25px;
    font-weight: 50px;
    text-align: center;
}


#form{ /*Formulário do cadastro*/
    background-color: #d1b5a9;
    padding: 90px 25%;
    width: min-content;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botao{ /*botao do formulário*/
    background-color:black;
    color:white;
    width:300px;
    height: 70px;
    font-size: 20px;
    text-decoration:double;
    text-align: center;
    border: 10px;
    cursor:pointer; /*aparecer maozinha quando passar*/
    transition: all 0.3s ease-in-out;  
}

#input_nome{ /*nome do formulario*/
    width:300px;
    height: 40px;
    font-size: 15px;
    text-decoration:solid;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#input_email{ /*email do formulario*/
    width:300px;
    height: 40px;
    font-size: 15px;
    text-decoration:solid;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.botao:hover{/*Muda estado do botao do formulario*/
    background-color: var(--cor-botao-foco);
}

.area-principal{ /*área que fica no meio do site*/
    display: flex;
    flex-direction:row; 
    justify-content:space-around;
    align-items: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(to right, white, #d1b5a9(20, 47, 220));
}

.marca{ /*Alterar texto do titulo de informações*/
    font-style: italic;
    font-size: 55px;
    color: #20110b;
}

.informacoes{/*informações do site*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 0px;
    text-align: center;
    color: #20110b;
    font-style: italic;
    font-size: 15px;
}

.imagem{ /*imagem do site*/
    orientation: center;
    height: 400px;
}

.rodape{ /*rodape do site*/
    background-color: #d1b5a9;
    text-align: center;
    display:flow-root;
}

